@charset "UTF-8";

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

form {
	margin: 1rem 0;
}

input, button, a {
	display: inline-block;
	
	border: 1px solid gray;
	border-radius: 0.25rem;
	
	padding: 0.25rem;
	
	margin: 0.25rem 0;
	
	color: black;
	
	background-color: lightgray;
	
	text-decoration: none;
}

input {
	width: 100%;
	
	background-color: white;
}

table {
	width: 100%;
	
	border-collapse: collapse;
}

thead, tfoot {
	color: white;
	background-color: darkgray;
}

th, td {
	text-align: start;
	
	border: 1px solid lightgray;

	padding: 0.25rem;

}

